.container {
    display: grid;
    grid-template-columns:repeat(64, 1fr);
    width: 700px;
    height: 700px; 
 
}
div {
    display: grid;
    box-sizing: border-box;
    
}
div2 {
    border: solid 0.1px;
    color: #424242;
    box-sizing: border-box;
}

.buttonbox {
    display: flex;
    width: 500px;

}
.reset, .smol, .med, .large {
    padding: 5px;


}
