.container {
    display: grid;
    grid-template-columns: repeat(2000, 1fr);
    
}
h1 {
    margin: auto;

}

div   {
    width:30px;
    height: 25px;
    
}

div2 {
    border: solid 0.5px;
    color: rgb(54, 36, 36); 
    display: grid;
    width:30px;
    height: 25px;
}
